body {
  margin: 0;
  font-family: "Fredoka One";
  font-weight: lighter;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: navy;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
  background-color: rgb(188, 216, 248);
  color: navy;
}

.ui.button.explore {
  color: #3b5998;
  background-color: rgb(188, 216, 248);
}
